/* Footer.css */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    
}

footer > div {
    flex: 1;
    min-width: 150px;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    color: #bbb;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #444; 
}

h3 {
font-size: 1.2rem;
margin-bottom: 15px;
color: #ffd700; /* Gold color for headings */
font-weight: bold;
}

ul {
list-style-type: none;
padding: 0;
margin: 0;
}

li {
margin-bottom: 10px;
font-size: 0.95rem;
cursor: pointer;
transition: color 0.3s ease-in-out;
}

li:hover {
color: #1da1f2; /* Light blue on hover */
}

.Community p {
font-size: 0.9rem;
margin: 5px 0;
color: #bbb;
}

footer svg {
margin-right: 8px;
vertical-align: middle;
color: #aaa;
transition: color 0.3s;
}

footer svg:hover {
color: #1da1f2; /* Light blue on hover */
}


  